services:
  weaviate:
    command:
    - --host
    - 0.0.0.0
    - --port
    - '8080'
    - --scheme
    - http
    image: cr.weaviate.io/semitechnologies/weaviate:1.35.0
    container_name: weaviate_test
    ports:
    - 8080:8080
    - 50051:50051
    volumes:
    - weaviate_data:/var/lib/weaviate
    restart: unless-stopped
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_MODULES: 'text2vec-ollama,generative-ollama'
      CLUSTER_HOSTNAME: 'node1'

  embedding-api:
    build:
      context: ./embedding
      dockerfile: Dockerfile
    container_name: embedding_service
    restart: unless-stopped
    ports:
      - "9094:8080"
    command: uvicorn main:app --host 0.0.0.0 --port 8080

volumes:
  weaviate_data: